header{
	background-color: #2d3943;;
	color: white;
    height: 80px;
	
	
}

footer {
	background-color: #414e58;
    height: 200px;
    color: white;
    font-size: 24px;
	text-align: right center; 
    
    display: flex;

}
	
